body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start; /* Align items to the top */
  justify-content: center;
  height: 100vh; /* Fill the vertical space */
  background: linear-gradient(to bottom, #ffffff 50%, #cacaca 50%, #ffffff 50%);
}
