body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #17141d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column; /* Changed to column layout */
}

.card {
    position: relative;
    width: 350px;
    height: 250px;
    box-sizing: border-box;
    background-color: #fff;
    border: 5px solid #222;
    border-radius: 8px;
    display: flex;
    perspective: 50px;
    flex-direction: column;
    justify-content: center;
    margin-top: -400px;
    gap: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
                rgba(0, 0, 0, 0.23) 0px 6px 6px,
                inset rgba(0, 0, 0, 0.19) 0px 10px 20px,
                inset rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all ease-in-out 0.3s;
    overflow: hidden;
}

.card:hover {
    box-shadow: rgba(42, 149, 222, 0.19) 0px 10px 20px,
          rgba(42, 149, 222, 0.23) 0px 6px 6px,
                inset rgba(0, 0, 0, 0.19) 0px 10px 20px,
                inset rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border: 5px solid #479fff;
}

.card-title {
    margin: 0;
    font-size: 18px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
                "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: #fff;
    z-index: 999;
    cursor: default;
}

.card-des {
    margin: 0;
    font-size: 15px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
                "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: #fff;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    word-break: break-all;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    cursor: default;
}

.card-text {
    position: absolute;
    margin: 0;
    font-size: 14px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
                "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #54c2ff;
    right: 20px;
    bottom: 5px;
    display: flex;
    align-items: center;
    gap: 3px;
    opacity: 1;
    transition: all ease-in-out 0.3s;
    animation: textanimate 0.8s alternate infinite;
    cursor: pointer;
}

.card:hover > .card-text {
    opacity: 1;
}

@keyframes textanimate {
    0% {
        right: 20px;
    }

    100% {
        right: 10px;
    }
}

.arrow-icon {
    font-size: 15px;
    font-weight: 500;
}

/* second card css */
    
.normal-card {
    width: 350px;
    height: 400px;
    background-color: #27272a;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 #000000;
    perspective: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.normal-card-title {
    margin: 0;
    font-size: 18px;
}

.normal-card-text {
    margin: 0;
    font-size: 14px;
}

/* Styles for the popup card */
.popup-card {
    display: none; /* Initially hide the popup card */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    perspective: 50px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    outline: 2px solid #989898;
    width: 250px; /* Adjust width as needed */
    height: 140px; /* Adjust height as needed */
}

.popup-card h2 {
    color: #32a6ff; /* Set the text color to blue */
    margin-top: -30px
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    perspective: 100px;
}

.popup-card .footer {
    padding: 10px; /* Footer padding */
}

.popup-card .footer p {
    margin: 0; /* Remove default margin */
    margin-top: 20px;
    font-size: 11px;
    color: #989898; /* Footer text color */
    text-align: center; /* Center-align footer text */
    text-decoration: underline; /* Underline the text */
}
    
.popup-card.show {
    display: block; /* Show the popup card when it has the 'show' class */
}

/* Styles for the close button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    color: #000000;
}

.close-btn:hover {
    color: #000;
}

    /* icons */
.iconflame {
  width: 6%;
  height: 90%;
  z-index: 999;
}
