body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start; /* Align items to the top */
  justify-content: center;
  height: 100vh; /* Fill the vertical space */
  background: #292929; 
}

/* home button */

.button {
  position: absolute;
  padding: 10px 20px;
  border-radius: 50%;
  perspective: 5px;
  height: 10%;
  width: 20%;
  border: none; /* Remove border completely */
  color: #fff;
  cursor: pointer;
  background-color: transparent !important; /* Make the background transparent */
  z-index: 1000;
  transition: all 0.2s ease;
  /* Adjust position */
  left: 10px; /* Move 20px to the right */
  top: 5px; /* Move 10px up */
}

.button:active {
  transform: scale(0.96);
}

.button:before,
.button:after {
  position: absolute;
  content: "";
  width: 90%;
  left: -40%;
  height: 90%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  z-index: 999;
}

.button:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.button:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
 }

  /* icons */
.iconshop {
  width: 70%; /* Adjust the size as needed */
  height: 70%; /* Adjust the size as needed */
  object-fit: contain; /* Keep the aspect ratio */
  z-index: 200;
}

.icontitle {
  width: 30%; /* Adjust the size as needed */
  height: 30%; /* Adjust the size as needed */
  object-fit: contain; /* Keep the aspect ratio */
  z-index: 300;
}


/* cards */

.card {
  width: 350px;
  height: 630px;
  background-color: #30344c;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9); /* Adjust the shadow as needed */
  perspective: 5px;
  margin-left: 50px;
  z-index: 100;
  margin: 30px; /* Adjust the margin as needed */
}

/* notifications */
.card {
  position: relative;
  width: 350px;
  height: 180px;
  box-sizing: border-box;
  background-color: #212121;
  border: 5px solid #222;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 200;
  gap: 10px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
          rgba(0, 0, 0, 0.23) 0px 6px 6px,
          inset rgba(0, 0, 0, 0.19) 0px 10px 20px,
          inset rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: all ease-in-out 0.3s;
  overflow: hidden;
}

.card:hover {
  box-shadow: rgba(193, 44, 223, 0.19) 0px 10px 20px,
          rgba(193, 44, 223, 0.23) 0px 6px 6px,
          inset rgba(0, 0, 0, 0.19) 0px 10px 20px,
          inset rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border: 5px solid #b671d6;
}

.card-title {
  margin: 0;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: #fff;
  cursor: default;
}

.card-des {
  margin: 0;
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: #fff;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  cursor: default;
}

.card-text {
  position: absolute;
  margin: 0;
  font-size: 14px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 400;
  color: #fff;
  right: 20px;
  bottom: 5px;
  display: flex;
  align-items: center;
  gap: 3px;
  opacity: 0;
  transition: all ease-in-out 0.3s;
  animation: textanimate 0.8s alternate infinite;
  cursor: pointer;
}

.card:hover > .card-text {
  opacity: 1;
}

@keyframes textanimate {
  0% {
    right: 20px;
  }

  100% {
    right: 10px;
  }
}

.arrow-icon {
  font-size: 15px;
  font-weight: 500;
}
  
